######################################################################
# Maven
target/
*.flattened-pom.xml
dependency-reduced-pom.xml

######################################################################
# IDE

### Spring Tool Suite (STS) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

######################################################################
# OS
.DS_Store
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

######################################################################
# Logs & Temp
*.log
*.log.*
*.swp
*.tmp
*~

######################################################################
# Misc
*.xml.versionsBackup
rebel.xml

# Personal dev config (keep local overrides out of repo)
application-my.yaml
